body {
    font-family: sans-serif;  
}

.img1 {
    float: left;
	margin: 10px;
}

.img2 {
    float: left;
	margin: 10px;
}

.img3 {
    float: left;
	margin: 10px;
}

.img4 {
    float: left;
	margin: 10px;
}

.img5 {
    float: left;
	margin: 10px;
}


h1 {
text-align: center;
font-size: 40px;
margin: 10px;
}

h2 {
  text-align: center;
  font-size: 22px;  
  margin: 10px;
}



p {
    text-align: justify;
    width: 100%;
    font-size: 16px;
    text-indent: 40px; 
    line-height: 1.5;
    margin-right: 20px;
	padding: auto;
}

li {
    text-align: justify;
    width: 900px;
    margin: auto;
    font-size: 16px;
}



#testmony-container h2, #testmony-container p {
	color: rgb(14, 1, 1);
	text-align: center;
	margin: auto;
}

#testmony-container {
	border-radius: 5px;
	border-style: double;
	border-width: 5px;
	background-color: rgba(244, 248, 242, 0.301);
	
	
}

#testmony-container h2 {
	font-size: 20px;
	margin-bottom: 40px;
	text-align: center;
	margin: 20px;
}

#testmony-container p {
	margin-bottom: 1px;
	text-align: center;
}

.testmony-box {
	display: inline-block;
	width: 24.5%;
	text-align: center;
	margin-left: 100px;
	margin-bottom: 30px;
	border-right: solid 3px black;
	padding: 10px;
}

#testmony-container .testmony-box .testmony-msg {
	color: rgb(15, 12, 12);
	position: relative;
	margin-top: 2px;
	margin-bottom: 2px;
	text-indent: 20px; 
}


.testmony-box img {
	width: 100px;
	height: 100px;
	border: 3px solid rgb(20, 10, 10);
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;	
}

.testmony-name {
	font-weight: bold;
    color: black;
    text-align: center;
	padding: 20px;
	width: 50%;
	margin-top: auto;
	margin-left: 10px;
	margin-right: 40px;
}


	
